{% extends "base.html"%}

{% block content %}
<div class="flex text-blue-200">
    <div class="w-5/6 mx-auto pt-4 space-y-1">
        <div class="mt-4 mb-4 space-y-2">
            <div class="font-bold text-xl">
                Spell Caracteristics
            </div>
            <form method="post" action=""> {% csrf_token %}
            <div class="grid grid-cols-8 gap-2 mb-3">
            {% include "assets/input.html" with col=3 placeholder="Name" name="name" val=name %}
            </div>
            <div class="grid grid-cols-8 gap-2 mb-3">
            {% include "assets/input.html" with col=3 placeholder="Damage Type" name="damage" val=damage %}
            </div>
            <div class="grid grid-cols-8 gap-2 mb-3">
            {% include "assets/input.html" with col=3 placeholder="Average Damage" name="average_pts" val=average_pts %}
            </div>
            <div class="">
                {% include "add_data/item_button.html" with text="Create" action="add_data/create_spell" %}
            </div>
            </form>
        </div>
        
   
    </div>
</div>
    
{% endblock %}