{% extends "base.html"%}

{% block content %}
<div class="p-10 text-center items-center justify-center">
    <div class="font-bold text-xl text-blue-200">
        Spell Caracteristics
    </div>
    <form method="post" action=""> {% csrf_token %}

        <div class="w-3/4 grid mx-auto gap-3 p-4">
            {% include "assets/input.html" with placeholder="Name" name="name" val=name %}
            {% include "assets/input.html" with placeholder="Damage Type" name="damage" val=damage %}
            {% include "assets/input.html" with placeholder="Average Damage" name="average_pts" val=average_pts %}
        </div>
        <div class="text-{{ message_color }}-400 font-light">
            {{ message }}
        </div>
        <div class="p-4">
            {% include "assets/button.html" with name="add_spell" id="add_spell" val="add_spell" text="Save" %}
        </div>
    </form>
</div>

{% endblock %}