{% extends "base.html"%}

{% block content %}
<div class="flex text-blue-200">
    <div class="w-5/6 mx-auto pt-4 space-y-1">
        {% block filters %}
        filters
        {% endblock %}
        
        <div class="font-bold text-xl">
            Results: {{ data|length }}
        </div>
        
        {% block main_row %}
        main_row
        {% endblock %}
        
        <div class="overflow-auto h-56 space-y-1">
            {% for item in data %}
            {% block row_data %}
            row_data
            {% endblock %}
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}