<div class="mt-4 mb-4 space-y-2">
    <div class="font-bold text-xl">
        Filters
    </div>
    <form method="post" action=""> {% csrf_token %}
        <div class="grid grid-cols-8 gap-2 mb-3">
            {% include "input_field.html" with col=5 placeholder="Name (All)" name="name" val=search.name %}
            {% include "input_field.html" with col=3 placeholder="Damage (All)" name="damage" val=search.damage %}
            {% include "input_field.html" with col=4 placeholder="Raze (All)" name="raze" val=search.raze %}
            {% include "input_field.html" with col=4 placeholder="Weakness (All)" name="weakness" val=search.weakness %}
        </div>
        <div class="">
            <button class="bg-blue-500 text-gray-900 font-bold py-1 px-16 rounded-md" name="player_search"
                id="player_search" value="player_search">Search</button>
        </div>
    </form>
</div>