<div class="grid grid-cols-12 gap-2 rounded bg-gray-800">
    <div class="w-full h-full rounded-l items-center bg-gray-700 text-center">
        {{ item.id }}
    </div>
    <div class="col-span-11 grid grid-cols-4 gap-2 py-1">
        <div class="col-span-2">
            <p class="font-bold"> {{ item.name }} </p>
        </div>
        <div class="">
            <p class="text-gray-500 inline">Damage: </p>
            <p class="inline">{{ item.damage }}</p>
        </div>
        <div class="">
            <p class="text-gray-500 inline">Avg. pts: </p>
            <p class="inline">{{ item.average_pts }}</p>
        </div>
        <div class="col-span-full grid grid-cols-2">
            <div class="">
                <p class="text-gray-500 inline">Known by: </p>
                <p class="inline">{{ item.known_by_count }}</p>
            </div>
            <div class="">
                <p class="text-gray-500 inline">Times used: </p>
                <p class="inline">{{ item.times_used }}</p>
            </div>
        </div>
    </div>
</div>